.app__hamburguer {
  display: none;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 100;
  &--icon {
    color: #000;
    font-size: 1.4em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
  }
  &--white {
    color: #fff;
  }
}

@media all and (max-width: 768px) {
  .app__hamburguer {
    display: block;
  }
}
