.app__static {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.app__component__container{
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  min-height: 420px;
}

.app__content {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 320px);
  align-items: center;
}



@media all and (max-width: 1024px) {
  .app__content {
    width: 100%;
    height: auto;
    min-height: 600px;
  }
  .app__component__container{
    padding-top: 50px;
    height: auto;
    display: block;
  }
}
