.app__static {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.app__content {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 320px);
  align-items: center;
}

@media all and (max-width: 768px) {
  .app__content {
    width: 100%;
    height: 100vh;
    min-height: 600px;
  }
}
