.cinema__app{
 max-width: 1150px;

 &__header{
  background: #151a22;
  height: 70px;
  text-align: center;
  color:#fff;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  h3{
   margin: 0;
   line-height: unset;
   font-size: 1rem;
   letter-spacing: 1.3pt;
   text-transform: uppercase;
   font-weight: 500;
  }
 }

 &__body{
  display: flex;
  flex-direction: row;
  background: #28313B;
 }
 &__seats__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 &__seat{
  cursor: pointer;
  margin: 0 5px 5px;
  &--selected{
   margin: 0 5px 5px;
   svg{
    font-size: 13px;
    text{
     font-weight: bold;
     cursor: pointer;
     fill:#FFFFFF !important;
    }
   }
  }
  svg{
   font-size: 13px;
   text{
    font-weight: bold;
    cursor: pointer;
    fill:#4F5F6F;
   }
  }
 }

&__theater{
 width: 100%;
 padding: 20px;
 &__title{
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1pt;
  color:#FFF;
  text-transform: uppercase;
  line-height: initial;
  margin: 0 0 1rem;
  font-weight: 500;
 }
}

 &__row{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 // Sidebar 
 &__sidebar{
  background: #222830;
  iframe{
   width: 100%;
  }

  &--content{
   padding: 30px;
  }

  &--title{
   color: #fff;
   margin-top: 0;
   letter-spacing: .3pt;
   font-size: 1.5rem;
   font-weight: 600;
  }

  &--meta{
   color:#cbccce;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 0;
   span{
    margin-right: 10px;
    .icon{
     margin-right: 5px;
     &-calendar{
      margin-left: 20px;
     }
    }
    &:last-child{ margin: 0; }
   }
  }

  &--desc{
   color:#fff;
   margin-top: 30px;
  }
 }

 // Screen
 &__screen{
  position: relative;
  width: 100%;
  margin: 0 auto 30px;
  &--inner{
   width: 100%;
   height: 10px;
   background: #24313E;
   border-bottom:5px solid #101928;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   position: relative;
   z-index:10;
  }
  &--glow{
   width: 100%;
   height: 40px;
   margin-top: -5px;
   background: -moz-linear-gradient(top, rgba(23,189,240,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(23,189,240,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(23,189,240,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17bdf0', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
   z-index:5;
   position: relative;
   opacity: .2;
   perspective-origin: center 20px;
   transform: rotateX(24deg)
  }
 }

 // User Profile
 &__profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -20px -20px;
  background: #1b2127;
 }

 &__userprice,
 &__usertickets,
 &__userinfo{
  padding: 20px;
  margin: 10px;
  color:#fff;
  width: 33.333333%;
  h3{
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1em;
   letter-spacing: .7pt;
   margin: 0 0 10px 0;
   position: relative;
   &:after{
    content: '';
    background: #ee6956;
    height: 2px;
    width: 20px;
    position: absolute;
    bottom:-5px;
    left:0;
   }
  }
  p{
   margin: 0;
  }
 }
 &__seats__row{
  margin: -5px 19px 0;
  display: flex;
  align-self: baseline;
  color: white;
  font-weight: 500;
  font-size: .8rem;
  &--left{
   flex-grow: 2;
  }
  &--right{
   flex-grow: 2;
   text-align: right;
   display: block;
  }
 }
}