.sp__card__app{
 background-color: #fff;
 box-shadow: 0 19px 38px rgba(0,0,0,0.05), 0 15px 12px rgba(0,0,0,0.02);
 padding: 20px;
 display: flex;
 max-width: 650px;
 overflow: hidden;
 position: relative;
 flex-wrap: wrap;

 * { 
   z-index: 10;
   position: relative;
  }

 &--thumb{
  margin-right: 20px;
 }

 &--body{
   width: 70%;
   margin-top: 40px;
 }
 
 &--title{
  margin: 0;
  text-transform: uppercase
 }

 &--size{
  margin: 0;
 }

 &--price{
  color:#0d6dff;
  font-weight: bold;
  font-size: 1.6rem;
 }
 
 
 &--button{
  background: #ffd800;
  color:#000;
  text-transform: uppercase;
  border:none;
  border-radius:100px;
  -webkit-border-radius:100px;
  display: block;
  width: 130px;
  padding: 13px 20px;
  box-sizing: border-box;
  letter-spacing: .4pt;
  font-weight: 500;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.12);
  cursor: pointer;
 }

 &--related{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  header{
   width: 100%;
  }
 }

 &--simple--product{
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  cursor: pointer;

  h4{
   margin: 0;
   font-size: 12px;
   color:#fff;
   text-transform: uppercase;
  }
  small{
   color: #000;
   font-weight: 600;
   font-size: 1rem;
   margin-top: -15px;
   display: block;
  }
 }

 &--related{
  h3{
   margin: 20px 0 20px 0;
   font-size: 16px;
   letter-spacing: .3pt;
   font-weight: 500;
   &::after {
    content: '';
    margin-top: 5px;
    display: block;
    width: 20px;
    height: 3px;
    background: white;
   }
  }
 }
  &--rate{
    margin: 10px 0;
  }
  &--icon{
    color:#ffd800;
    margin: 0 5px 0 0;
  }
}


.app__wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background:rgba(0, 170, 255, 0.6);
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: 250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: wave__rotate 3000ms infinite linear;

  &__container{
    z-index: 1 !important;
    position: absolute;
    left: 0;
    right: 0;
  }

  &--one {
    animation: wave__rotate 9000ms infinite linear;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));;
  }
  &--two {
    animation: wave__rotate 7000ms infinite linear;
    opacity: .1;
    background: rgb(0, 255, 234);
  }
  
  &--three {
    animation: wave__rotate 5000ms infinite linear;
    opacity: .5;
  }
}

@keyframes wave__rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@media all and(max-width:670px){
  .sp__card__app{
    padding: 10px;
    &--thumb{ margin-right: 5px; }
    &--body{ width: 50%; } 
  }
}

@media all and(max-width:390px){
  .sp__card__app{
    &--thumb{ margin:0 auto; }
    &--body{ 
      width: 100%; 
      text-align: center;
    } 
    &--button{ margin: 0 auto; }
    &--simple--product{ width: 50%; }
  }
}